* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:"Mulish", serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}
nav {
    background-color: #b75d69;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: end;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: #d8818d;
    transform: scale(1.05);
}
.container {
    display: flex;
}
header {
    width: 700px;
    background-color: #ffb5a7;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}
header img {
    align-items: center;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin-bottom: 20px;
    margin: 10px;
}

header h1 {
    font-size: 28px;
    padding: 10px;
    line-height: 1.8;
    color: white;
    text-align: center;
}
header h2 {
    font-size: 22px;
    background-color:#b75d69 ;
    padding: 10px;
    margin-top: 10px;
    line-height: 1.8;
    text-align: center;
    color: white;
}
header p {
    font-size: 16px;
    padding: 10px;
    margin: 8px;
    color: white;
    line-height: 1.6; 
}
.skills ul li {
    display: inline-block;
    background-color: antiquewhite;
    padding: 4px 15px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    font-size: 1.0em;
    color: #5C6BC0;
}

.Idiomas ul li {
    display: inline-block;
    background-color: antiquewhite;
    font-size: 1.1em;
    padding: 10px;
    margin: 10px 10px;
    color: #f1f1f1;
    font-size: 1.0em;
    border-radius: 20px;
    color: #5C6BC0;
}
main {
    flex-grow: 1;
    padding: 6px;
    margin-left: 20px;

}
.content-about, .content-esperience {
    margin-bottom: 20px;
}
.titulo {
    color: darkred;
    background-color: antiquewhite;
    margin-top: 0px;
    line-height: 2.4;
    text-align: center;
}
.content-about {
    padding: 10px;
    
}
.content-about p {
    text-align: justify;
    font-size: 16px;
    padding: 10px;
    line-height: 1.6;
}
