* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #b4b4f8;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
/* Sección header */
header {
    background-color: rgb(223, 141, 141);
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin-bottom: 5px;
    font-size: 36px;
}
header p {
    font-size: 16px;
}
/* Sección sobre mi */
.about{
    background-color: antiquewhite;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba (0,0,0,0.1);
}
.about h2 {
    color: brown;
}
/* Sección Experiencia Laboral */
.experience {
    margin-top: 20px;
}
.job {
    background-color: #b4b4f8;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rfba (0,0,0, 0.1);
}
.job h3 {
    color: chocolate;
}
/* Sección Educacion */
.education {
    margin-top: 20px;
}
.edu {
    background-color: darkolivegreen;
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rfba (0,0,0, 0.1);
}
/* Sección Habilidades */
.skills {
    margin-top: 20px;
}
.skill ul {
    list-style: none;
    padding: 0;
}
.skill li {
    margin-bottom: 10px;
}